
* {
    font-family: "Segoe UI";
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

#content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#timer-text {
    font-size: 10vw;
}

#timer-box {
    display: flex;
    align-items: center;
    margin: 2.5% 0 0 0;
}

#session-container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#session-display {
    font-weight: bold;
    font-size: x-large;
}

#ico {
    height: 5vw;
    margin-right: 7px;
}

#timer-box ~ * {
    margin-left: calc(5vw + 7px);
}

#button-menu {
    display: flex;
    justify-content: center;
}

.space {
    width: 14px;
}

.access-buttons {
    /* margin-right: 2px; */
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 8px;
    border-width: 1;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    
}